# FastAPI & ASGI Web Server
fastapi>=0.110.0
uvicorn[standard]>=0.28.0

# Database Connectors & ORM
psycopg2-binary>=2.9.9
psycopg[binary]>=3.1.18
SQLAlchemy>=2.0.28

# Validation, Data Modeling & Environment
pydantic>=2.6.0
pydantic-settings>=2.2.0
python-dotenv>=1.0.1

# Payment Gateway & HTTP Client
razorpay>=1.4.1
requests>=2.31.0
python-jose[cryptography]